global
    log stdout format raw local0 debug
    maxconn 10000
    user haproxy
    group haproxy
    nbthread 2
    tune.bufsize 32768

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout queue 10s
    balance leastconn

# PROXY-трафик на порту 8443
frontend proxy-in
    bind :8443 accept-proxy
    mode tcp
    default_backend telemt-balancer

backend telemt-balancer
    mode tcp
    balance leastconn
    server telemt1 192.168.0.6:443 check send-proxy-v2 inter 5s fall 3 rise 2
    server telemt2 192.168.0.7:443 check send-proxy-v2 inter 5s fall 3 rise 2
    server telemt3 192.168.0.8:443 check send-proxy-v2 inter 5s fall 3 rise 2

frontend stats
    mode http
    bind :8404
    stats enable
    stats uri /stats
    stats refresh 10s