global
    log stdout format raw local0 debug
    maxconn 10000
    user haproxy
    group haproxy
    nbthread 1
    tune.bufsize 32768

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    option redispatch
    retries 3
    timeout connect 10s
    timeout client 60s
    timeout server 60s
    timeout tunnel 3600s
    timeout queue 10s
    balance leastconn

frontend proxy-in
    bind :443 accept-proxy
    mode tcp
    tcp-request inspect-delay 1s
    tcp-request content accept if { req_ssl_hello_type 1 }
    default_backend telemt-balancer

backend telemt-balancer
    mode tcp
    balance leastconn

    server telemt1 192.168.0.6:443 check
    server telemt2 192.168.0.7:443 check
    server telemt3 192.168.0.8:443 check

frontend stats
    mode http
    bind :8404
    stats enable
    stats uri /stats
    stats refresh 10s
